name: GitOps Pages
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Vérifier l’intention
        run: |
          grep "Site Version 1" index2.html
      - name: Publier sur GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: .
  publish:
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
